/batteries-included
/libfuse-ocaml
/lwt-2.0.0
/ocamlfuse
/ocaml-git
/.omakedb
/.omakedb.lock
/OMakefile.omc
/OMakeroot.omc
/git-fs
/sifter.cmi
/sifter.cmo
/sifter.cmx
/sifter.o
/git-fs.opt
/git-fs.run
